@using Microsoft.AspNet.Identity
@model FootballStats.Web.Models.Tournament.ListModel
@{
    ViewBag.Title = "Турниры";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Создать", "Create")

<table class="table">
    <tr>
        <th>
            Название турнира
        </th>
        <th>
            Количество сыгранных матчей
        </th>
        <th>
        </th>
    </tr>

    @foreach (var tournament in Model.Tournaments)
    {
        <tr>
            <td>
                @tournament.Name
            </td>
            <td>
                @tournament.FootballMatchCount
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Выбрать", "Details", new { tournament.Id })
                    if (User.Identity.GetUserName() == "admin")
                    {
                        <text>
                            |
                        </text>
                        @Html.ActionLink("Редактировать", "Edit", new { tournament.Id })
                        <text>
                            |
                        </text>
                        <a data-id="@tournament.Id" href="javascript:void(0)" class="delete">Удалить</a>
                    }
                }
            </td>
        </tr>
    }
</table>

<script>
    $(function() {
        $("a.delete")
            .on("click",
                function(event) {
                    var target = $(event.target);
                    var tournamentId = target.attr("data-id");
                    $.ajax({
                        url: "@Url.Action("Delete")",
                        type: 'post',
                        data: { id: tournamentId },
                            success: function () {
                                target.closest("tr").remove();
                            }
                    });
                });

    });
</script>