@model FootballStats.Web.Models.Team.ListModel
@{
    ViewBag.Title = "Команды";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Страна
        </th>
        <th>
            Город
        </th>
        <th>
            Количество игроков
        </th>
        <th>
        </th>
    </tr>

    @foreach (var team in Model.Teams)
    {
        <tr>
            <td>
                @team.Name
            </td>
            <td>
                @team.Country
            </td>
            <td>
                @team.City
            </td>
            <td>
                @team.PlayerCount
            </td>
            <td>
                @Html.ActionLink("Выбрать", "Details", new {team.Id})
                @if (User.IsInRole("admin"))
                {
                    <span>
                            @*@Html.ActionLink("Edit", "Edit", new { id = tournament.Tariff_Code }) |
                                @Html.ActionLink("Delete", "Delete", new { id = tournament.Tariff_Code })*@
                        </span>
                }@*@Ajax.ActionLink("Список опций",
                        "GetOptions", new { id = tournament.Tariff_Code }, new AjaxOptions
                        {
                            UpdateTargetId = "tariffOptions",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET"
                        })*@
            </td>
        </tr>
    }
</table>